*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
 background-image: linear-gradient(180deg, rgb(152, 193, 217),rgb(19, 82, 119));
 color: rgb(41, 50, 65);
 font-family: sans-serif;
 min-height: 100vh;
}

header{
 min-height: 20vh;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 1.5rem;
}

/* TASKS CONTAINER/LIST STYLES */
.tasks-container{
 display: flex;
 justify-content: center;
 align-items: center;
}

.tasks-list{
 min-width: 31%;
 max-width: 40%;
 list-style: none;
}


/* TASK ELEMENTS STYLES */


/* TASK TEXT/ITEM STYLES */



/* TASK DETAILS STYLES */





/* PRIORITY LEVELS STYLES */



/* BUTTONS STYLES */


/* ICONS STYLES */



/* DONE TASK STYLES */




/* SELECTING PROJECT OR TASK-PARTNER TO TASK */



/* MOBILE STYLES */
@media only screen and (max-width:1024px){
 header{
     min-height: 12vh;
     font-size: 1.3rem;
 }

 .task-input,
 .task-button,
 .project-input,
 .project-button {
     padding: 0.3rem;
     font-size: 1.5rem;
 }

 .project-input,
 .project-button {
     font-size: 1.0rem;
 }
 
 .task-form{
     padding: 0.3rem;
     font-size: 1.5rem;
     min-height: 7vh;
     margin-bottom: 0.3rem;
 }

 .task-box,
 .task-details{
     border-left-width: 4px;
 }

 .task-box{
     margin: 0.3rem;
     margin-bottom: 0.1rem;
     padding-bottom: 0rem;
     font-size: 1.3rem;
 }

 .task-details{
     padding: 0 0.3rem;
     margin: 0.1rem 0.3rem 0.3rem 0.3rem;
     font-size: 1.0rem;
 }

 .delete-button,
 .complete-button,
 .priority-button,
 .info-button{
     padding: 0.3rem;
     font-size: 1.2rem;
 }

 .select{
     margin: 0.8rem;
 }
 
 .select::after{
     padding: 0.3rem;
 }

 h3{
     font-size: 0.9rem;
 }

 .filters{
     padding: 0.1rem;
     margin-bottom: 0.3rem;
 }
 
 .filter-project,
 .filter-priority{
     width: 4rem;
     padding: 0.3rem;
     font-size: 0.9rem;
 }
 
 .select-project{
     width: 4rem;
     font-size: 0.9rem;
 }
}

@media only screen and (max-width:720px){
 header{
     min-height: 10vh;
     font-size: 1.0rem;
 }

 .task-input,
 .task-button,
 .project-input,
 .project-button {
     padding: 0.3rem;
     font-size: 1.1rem;
 }

 .project-input,
 .project-button {
     font-size: 0.8rem;
 }
 
 .task-form{
     padding: 0.3rem;
     font-size: 1.2rem;
     min-height: 5vh;
     margin-bottom: 0.2rem;
 }

 .task-box,
 .task-details{
     border-left-width: 3px;
 }

 .task-box{
     margin: 0.2rem;
     margin-bottom: 0.1rem;
     padding-bottom: 0rem;
     font-size: 0.9rem;
 }

 .task-details{
     padding: 0 0.3rem;
     margin: 0.1rem 0.2rem 0.2rem 0.2rem;
     font-size: 0.7rem;
 }

 .delete-button,
 .complete-button,
 .priority-button,
 .info-button{
 padding: 0.2rem;
 font-size: 0.9rem;
 }

 .select{
     margin: 0.6rem;
 }
 
 .select::after{
     padding: 0.2rem;
 }

 h3{
     font-size: 0.65rem;
 }

 .filters{
     padding: 0.1rem;
     margin-bottom: 0.2rem;
 }
 
 .filter-project,
 .filter-priority{
     width: 3rem;
     padding: 0.2rem;
     font-size: 0.7rem;
 }
 
 .select-project{
     width: 3rem;
     font-size: 0.7rem;
 }
}



