*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
 background-image: linear-gradient(180deg, rgb(152, 193, 217),rgb(19, 82, 119));
 color: rgb(41, 50, 65);
 font-family: sans-serif;
 min-height: 100vh;
}

header{
 min-height: 20vh;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 1.5rem;
}

@media only screen and (max-width:1024px){
    header{
        min-height: 12vh;
        font-size: 1.3rem;
    }

    h3{
        font-size: 0.9rem;
    }
}

@media only screen and (max-width:720px){
    header{
        min-height: 10vh;
        font-size: 1.0rem;
    }

    h3{
        font-size: 0.65rem;
    }
}



