.task-form{
    padding: 0.5rem;
    font-size: 2rem;
    min-height: 10vh;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
.project-form{
    padding: 0.5rem;
    margin-bottom: 0.5rem;
   }
   
.project-form,
.filters{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
.task-form, button{
    cursor: pointer;
    outline:none;
    transition: all 0.4s;
    color: rgb(61, 90, 128);
   }
   
.task-form, button:hover{
    color: rgb(152, 193, 217);
   }